    <div class="contentwrapper 28daypage cf">
      <div class="contentinner">
        <div class="topbits">
          <%= link_to image_tag("logo_withtag.png", alt: "28 day hug", class: "topimagelogo28") %>
        </div>

        <div class="contentinnerround">
          <%= link_to image_tag("mainproductimage.png", alt: "28 day hug", class: "mainproductimage28") %>

          <div class="row128">
            <p class="largepurple">Periods Suck...<br/>We Give You a<br/>Reason To Smile<br/>When Aunt Flo Visits!</p>
            <p> We will send you a nice care pack every 28 days with some <br>great chocolate, a little tea, and a nice body care treat like an aromatherapy shower tablet. <br> <br>It's a little Hug that arrives in your mailbox!</p>
          </div>

            <div class="purchasecenter">
              <a href="http://28dayhug.com/see-you-soon/"class="purchasebutton texturebutton">
                <span class="largebuy">only $3.99 + s/h</span>
                <span class="mainbuttontype">Subscribe!</span>
              </a>
              <span class="shipping">(learn more below!)
                <%= link_to image_tag("downarrow1.jpg", alt: "check it out") %>
              </span>
            </div>

            <div class="row228">
              <h2>how does it work?</h2>

              <div class="expectitem28">
                <p> We'll ship your HUG the day after your payment or whatever day you choose.</p>
                <%= link_to image_tag("line_1.jpg", alt: "check it out", class: "line") %>
              </div>

              <div class="expectitem28">
                <p> Choose a ship date that's 4 to 5 days before your next cycle to allow for shipping.</p>
                <%= link_to image_tag("line2.jpg", alt: "check it out", class: "line") %>
              </div>

              <div class="expectitem28">
                <p>Send it to yourself at home or at work. Send as a gift to a girlfriend or daughter. Wherever a HUG is needed!</p>
                <%= link_to image_tag("line3.jpg", alt: "check it out", class: "line") %>
              </div>

                <p class="bottomthatsit">That's It! Every 28 Days A Nice Big Hug In The Mail.</p>
                <%= link_to image_tag("paperhearts.png", alt: "a nice big hug!", class: "paperhearts") %>

            </div>

            <%= link_to image_tag("largechocolates.png", alt: "some of these!", class: "largechocolates") %>

            <div class="purchasecenterright secondpurchaseblock">
              <a href="http://28dayhug.com/see-you-soon/" class="purchasebutton texturebutton">
                <span class="largebuy">only $3.99 + s/h</span>
                <span class="mainbuttontype">Subscribe!</span>
              </a>
                <span class="shipping">s/h is 1.99 for a limited time</span>
            </div>

            <div class="whatcanyouexpect">
              <h3> What can you expect from </h3>
              <%= link_to image_tag("bottomdoglogo.jpg", alt: "28 day hug", class: "canyouexpectlogo") %>

              <div class="expectitem28bottom">
                <ul>
                  <li>Really yummy chocolate</li>
                  <li>A few really nice bags of tea</li>
                  <li>Choice of puppy or kitten to snuggle*</li>
                  <li>A nice little aromatherapy treat</li>
                  <li>Your billing info to be secure</li>
                  <li>Honest and clear communication</li>
                </ul>
              </div>
                <h4> What can you not expect from 28dayHug?</h4>
              <div class="expectitem28bottom expectbottomnot">
                <ul>
                  <li>Grouchy customer service
                    <span> (We might not be super fast getting back to you but you can expect to be treated nicely - I mean sheesh!  We work for you right?!)</span>
                  </li>
                  <li>Junk <span>(We don't send you a lot - but we send good stuff)</span></li>
                </ul>
              </div>
            </div>
            <div class="purchasecenter purchasebottom2">
              <a href="http://28dayhug.com/see-you-soon/" class="purchasebutton texturebutton">
                <span class="largebuy">only $3.99 + s/h</span>
                <span class="mainbuttontype">Subscribe!</span>
              </a>
              <span class="shipping">s/h is 1.99 for a limited time</span>
            </div>
            <div class="bottomsection">
              <%= link_to image_tag("largepackage.png", alt: "28 day hug", class: "bottompackage") %>

              <p> After a long day at work coming home to some nice tea, really good chocolate, and taking a nice long shower with aromatherapy steam wrapping around you... that's the way to melt away all the stress and ease the tension of your monthly visitor.</p>
              <a href="http://28dayhug.com/see-you-soon/"class="purchasebutton texturebutton">
                <span class="largebuy">Go ahead and subscribe, it's nice!</span>
                <span class="mainbuttontype">Subscribe!</span>
              </a>
              <span class="bottomastric">
                  * We cannot actually ship a puppy or kitten. It probably wouldn&#39;t be kosher with the Post Office, and the last thing we want is to imperil any adorable tiny pets. If you are in need of some fuzzy goodness, may we suggest cuteoverload.com
              </span>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>