<h1>Listing subscribers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
<<<<<<< HEAD
      <th>Phone number</th>
=======
      <th>Phone</th>
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474
      <th>Billing address</th>
      <th>Billing city</th>
      <th>Billing state</th>
      <th>Billing zip</th>
<<<<<<< HEAD
      <th>Processor token</th>
=======
      <th>Ship date</th>
      <th>Password digest</th>
      <th>Stripe customer</th>
      <th>Payment status</th>
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474
      <th>Recipient name</th>
      <th>Recipient address</th>
      <th>Recipient city</th>
      <th>Recipient state</th>
      <th>Recipient zip</th>
<<<<<<< HEAD
      <th>Password</th>
      <th>Password confirmation</th>
=======
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.email %></td>
        <td><%= subscriber.first_name %></td>
        <td><%= subscriber.last_name %></td>
<<<<<<< HEAD
        <td><%= subscriber.phone_number %></td>
=======
        <td><%= subscriber.phone %></td>
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474
        <td><%= subscriber.billing_address %></td>
        <td><%= subscriber.billing_city %></td>
        <td><%= subscriber.billing_state %></td>
        <td><%= subscriber.billing_zip %></td>
<<<<<<< HEAD
        <td><%= subscriber.processor_token %></td>
=======
        <td><%= subscriber.ship_date %></td>
        <td><%= subscriber.password_digest %></td>
        <td><%= subscriber.stripe_customer_id %></td>
        <td><%= subscriber.payment_status %></td>
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474
        <td><%= subscriber.recipient_name %></td>
        <td><%= subscriber.recipient_address %></td>
        <td><%= subscriber.recipient_city %></td>
        <td><%= subscriber.recipient_state %></td>
        <td><%= subscriber.recipient_zip %></td>
<<<<<<< HEAD
        <td><%= subscriber.password %></td>
        <td><%= subscriber.password_confirmation %></td>
=======
>>>>>>> d01baa6085970c459966cde4b46c161b4f8b6474
        <td><%= link_to 'Show', subscriber %></td>
        <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
        <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscriber', new_subscriber_path %>
