<p id="notice"><%= notice %></p>

<p>
  <strong>Paid status:</strong>
  <%= @charge.paid_status %>
</p>

<p>
  <strong>Stripe token:</strong>
  <%= @charge.stripe_token %>
</p>

<p>
  <strong>Last 4:</strong>
  <%= @charge.last_4 %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= @charge.subscriber_id %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
