<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

      <ul>
      <% @subscriber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :billing_address %><br>
    <%= f.text_field :billing_address %>
  </div>
  <div class="field">
    <%= f.label :billing_city %><br>
    <%= f.text_field :billing_city %>
  </div>
  <div class="field">
    <%= f.label :billing_state %><br>
    <%= f.text_field :billing_state %>
  </div>
  <div class="field">
    <%= f.label :billing_zip %><br>
    <%= f.number_field :billing_zip %>
  </div>
  <div class="field">
    <%= f.label :processor_token %><br>
    <%= f.text_field :processor_token %>
  </div>
  <div class="field">
    <%= f.label :recipient_name %><br>
    <%= f.text_field :recipient_name %>
  </div>
  <div class="field">
    <%= f.label :recipient_address %><br>
    <%= f.text_field :recipient_address %>
  </div>
  <div class="field">
    <%= f.label :recipient_city %><br>
    <%= f.text_field :recipient_city %>
  </div>
  <div class="field">
    <%= f.label :recipient_state %><br>
    <%= f.text_field :recipient_state %>
  </div>
  <div class="field">
    <%= f.label :recipient_zip %><br>
    <%= f.number_field :recipient_zip %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
