<!DOCTYPE html>
<html>
<head>
  <title>28 Day Hug</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="home page page-id-8 page-template page-template-home-php">
  <div id="container">
    <div id="header">
      <div class="headerinner">
        <div class="logoholder">
          <div class="logoitem twentyheader">
            <a href="#" title="28dayhug">
            <%= link_to image_tag("28-logo-top.png", alt: "28 day hug", class: "headerlogo") %>
            </a>
          </div>
        </div>
        <div class="sharewrapper">
          <div id="mc_embed_signup">
            <!-- Info for mailing list -->
          </div>
          <div class="headersocialwrap">
            <div class="topheadshare">Find Us On
              <%= link_to image_tag("arrow_top.png", alt: "28 day hug", class: "headsharelogo") %>
            </div>

            <div class="headershareitem">
              <a href="https://www.facebook.com/28dayhug" target="_blank" class="socialtop facebooktop"></a>
            </div>

            <div class="headershareitem">
              <a href="https://twitter.com/28dayhug" target="_blank" class="socialtop twittertop"></a>
            </div>

            <div class="headershareitem">
              <a href="http://pinterest.com/28dayhug/"target="_blank"class="socialtop pinteresttop"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="footerwrapper">
      <div class="footerinner">
        <h3> Thanks for visiting!</h3>
        <a href="#" class="contactheader">Help Desk & FAQ</a>
        <br/>
        <span class="copyright"> © 2011 Lovely Brands LLC All Rights Reserved </span>
        <a href="/faq" class="contactheader">Help Desk & FAQ</a>
      </div>
    </div>
  </div>
    <%= render "layouts/dig_bar" %>
</body>
</html>
