<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("28-logo-top.png", alt: "28 day hug", class: "headerlogo"), '/' %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to image_tag("socialbuttonsfbook.png", alt: "facebook logo/link", class:"headersocialnav"),'https://www.facebook.com/28dayhug'%></li>
          <li><%= link_to image_tag("socialbuttonstwit.png", alt:"twitter logo/link", class:"headersocialnav"),'https://twitter.com/28dayhug'%></li>
          <li><%= link_to image_tag("socialbuttonspint.png", alt:"pintrist logo/link", class:"headersocialnav"),'http://pinterest.com/28dayhug/'%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div id="header">
      <div class="headerinner">
        <div class="logoholder twentyheader">
          <div class="logoitem">
            <%= link_to image_tag("28-logo-top.png", alt: "28 day hug", class: "headerlogo"), '/' %>
          </div>
        </div>
        <div class="sharewrapper">
          <div id="mc_embed_signup">
            <!-- Info for mailing list -->
          </div>
          <div class="headersocialwrap">
            <div class="topheadshare">Find Us On
              <%= link_to image_tag("arrow_top.png", alt: "social pointer", class: "headsharelogo") %>
            </div>

            <div class="headershareitem">
              <a href="https://www.facebook.com/28dayhug" target="_blank" class="socialtop facebooktop"></a>
            </div>

            <div class="headershareitem">
              <a href="https://twitter.com/28dayhug" target="_blank" class="socialtop twittertop"></a>
            </div>

            <div class="headershareitem">
              <a href="http://pinterest.com/28dayhug/"target="_blank"class="socialtop pinteresttop"></a>
            </div>
          </div>
        </div>
      </div>
    </div>